<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<title>
	  {% if page.title == "Home" %}
		{{ site.title }} &middot; {{ site.tagline }}
	  {% else %}
		{{ page.title }} &middot; {{ site.title }}
	  {% endif %}
	</title>

	<title>{{ page.title }}</title>
	<link href="{{ site.baseurl }}/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	{% include favicon.html %}

	<meta property="og:title" content="Aaron Delani&apos;s personal website" />
	<meta property="og:description" content="This is Aaron Delani&apos;s personal website. He&apos;s an artist, user experience designer, user interface engineer, story teller, photographer, desktop publisher, pre-press operator, and much more. Based out of Portland, Oregon." />
	<meta property="og:image" content="http://www.aarondelani.com/images/avatar.jpg" />

	<meta name="description" content="This is Aaron Delani&apos;s personal website. He&apos;s an artist, user experience designer, user interface engineer, story teller, photographer, desktop publisher, pre-press operator, and much more. Based out of Portland, Oregon."/>
	<meta name="keywords" content="ui, ux, designer, photographer, printer, engineer, software, liferay, javascript, css, html, portland, oregon"/>
	<!--[if IE]>
	<link href="{{ site.baseurl }}/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
