/*$top-col-1-bg-col: #FFC12D;
$top-col-1-col: #EE4300;

$top-col-2-bg-col: #FED062;
$top-col-2-col: #9A5B00;

$top-col-3-bg-col: #FFE29C;
$top-col-3-col: #EE5F00;*/

$top-col-1-bg-col: transparent;
$top-col-1-col: #EE4300;

$top-col-2-bg-col: $top-col-1-bg-col;
$top-col-2-col: $top-col-1-col;

$top-col-3-bg-col: $top-col-1-bg-col;
$top-col-3-col: $top-col-1-col;

$default-text-color: #111;

$yellow: #FFC12D;
$orange: #EE4300;

.wrapper.top {
	/*background: $yellow;*/

	a {
		text-decoration: none;
	}
}

.landing,
.process-wrapper,
.do-wrapper {
	margin: 0 auto;
	max-width: 57.142857143em;
	position: relative;
	z-index: 1;

	.col-content {
		font-size: 1.05em;
		padding: 2.142857143em;
	}
}

.landing {
	h1, h2, h3 {
		font-weight: normal;
		font-size: 18px;
		margin: 18px 0;
	}

	img, svg {
		height: 2.5em;
	}

	path, polygon, polyline {
		fill: #222;
	}

	.head {
		/*background: $top-col-1-bg-col;
		color: $top-col-1-col;*/
		text-align: center;

		a {
			color: $top-col-1-col;
		}

		h1 {
			span {
				display: block;
				font-size: 0.94em;
				margin-top: 1em;
			}
		}

		path, polygon {
			fill: $default-text-color;
		}

		hr {
			border: 0;
			border-bottom: 1px solid $default-text-color;
		}

		ul, li {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}

	.about {
		h2 {
			text-align: center;
		}
	}

	.work {
		/*background: $top-col-1-bg-col;
		color: $top-col-3-col;*/
		text-align: center;

		a {
			color: $top-col-3-col;
			display: block;
			margin: 1.2em 0;

			svg {
				max-height: 2em;
				max-width: 100%;
			}

			&:hover {
				path, polygon, polyline {
					fill: $default-text-color;
				}
			}
		}
	}
}


@media (max-width: 736px) {
	.row .col .col-content {
		padding: 1.75em;
	}
}
