@import "screen.scss";

$padding-wd: 2.142857143em;

body {
	background: #EAEAEA;
}

h1, h2, h3, h4, h5 {
	font-weight: 100;

	small {
		font-size: 1em;
	}
}

$nav-color: #FFF;

nav {
	background: rgba(0,0,0, 0.8);
	left: 0;
	margin-top: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2;
	overflow: hidden;

	-webkit-transition : margin-top 500ms ease-out;
	-moz-transition : margin-top 500ms ease-out;
	-o-transition : margin-top 500ms ease-out;
	transition : margin-top 500ms ease-out;

	ul {
		width: $row-width;
		margin: 0 auto;
		padding: 0 $col-content-pad;
	}

	li {
		margin: -0.75em 0;
	}

	a {
		color: $nav-color;
		display: inline-block;
		/*font-weight: 800;*/
		padding: 0.75em 1em;
		text-transform: uppercase;
		letter-spacing: 0.05em;

		&:hover {
			text-decoration: none;
			background: rgba(0,0,0, 0.5);
		}
	}

	.selected {
		a {
			background: rgba(0,0,0, 0.5);
		}
	}
}

.logo-nav {
	display: inline-block;
	vertical-align: middle;
	margin: 0.35em 0 -0.125em;

	svg {
		height: 2.5em;
		width: 2.5em;

		path, polygon {
			fill: $nav-color;
		}
	}
}

.poster {
	height: 75%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	-webkit-transition : height 200ms ease-out;
	-moz-transition : height 200ms ease-out;
	-o-transition : height 200ms ease-out;
	transition : height 200ms ease-out;

	img {
		display: none;
	}
}

.port-intro {
	.port-header {
		color: #FFF;
		padding: 4.75em 0 0.75em;
	}

	.poster {
		/*background: #71802B;*/
		background: #E8930C;

		&:after {
			bottom: -50%;
			content: '';
			height: 100%;
			left: -50%;
			position: absolute;
			border-top: 0.6em solid #71802B;;
			/*border-top: 0.6em solid #E8930C;*/
			/*border-top: 0.6em solid #5f6f13;*/
			width: 200%;
			background: #EAEAEA;
			/*background: #E8930C;*/
			/*background: #71802B;*/
			transform: rotate(8deg);
		}
		/*Midnight Blue*/
		/*&:before {
			background: #0A2C6E;
			transform: rotate(-15deg);
		}*/
	}

	.port-gallery {
		ul {
			/*background: #FFF;*/
			position: relative;
			z-index: 1;
			max-width: $row-width;
			margin: 0 auto;

			&:after {
				content: '';
				display: block;
				clear: both;
			}

			li {
				width: 33.333%;
				float: left;
				padding-bottom: $col-content-pad/2;

				a {
					background: #FFF;
					display: block;
					margin: $col-content-pad/2 $col-content-pad/2 0;
					padding: 0.5em;
				}

				+ li {
					a {
						margin-bottom: 0;
					}
				}
			}
		}

		.gallery-link {
			border-radius: 8px;
			box-shadow: 0 3px 10px -3px #000;
			color: #FFF;
			overflow: hidden;
			position: relative;

			img {
				width: 100%;
				height: auto;
			}

			.description {
				background: rgba(0,0,0, 0.8);
				bottom: 0;
				left: 0;
				position: absolute;
				padding: 0.75em;
				right: 0;

				-webkit-transition : background-color 500ms ease-out;
				-moz-transition : background-color 500ms ease-out;
				-o-transition : background-color 500ms ease-out;
				transition : background-color 500ms ease-out;

				.item-name {
					font-weight: 800;
				}

				p:nth-child(2) {
					margin-top: 0;
				}

				p:last-child {
					margin-bottom: 0;
				}
			}

			&:hover .description {
				background: rgba(0,0,0, 0.8);
			}
		}

	}
}

article {
	padding-top: 7em;
	position: relative;
	z-index: 1;

	h1 {
		position: relative;
		text-align: center;
		z-index: 2;
	}
}

a {
	color: #0782B5;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.piece-holder {
	max-width: $row-width;
	padding: 0 $padding-wd;
	margin: 0 auto;

	.title {
		font-weight: 800;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

@media (min-width: 1366px) {
}

@media (max-width: 736px) {
	.port-intro {
		.port-gallery {
			ul li {
				width: 50%;
			}
		}
	}
}

@media (max-height: 775px), (max-width: 736px) {
	.port-intro .poster {
		/*height: 100%;*/
	}
}

@media (max-width: 649px) {
	.row {
		display: block;

		&,
		&.wid-33-33-33,
		&.wid-50-50,
		&.wid-33-66,
		&.wid-66-33 {
			.col {
				.col-content {
					padding-top: 0;
					padding-bottom: 0;
				}

				&:first-child {
					.col-content {
						padding-top: $padding-wd;
					}
				}

				&:last-child {
					.col-content {
						padding-bottom: $padding-wd;
					}
				}
			}
		}
	}

	.piece-holder {
		padding: 0 0.5em;

		+ .row .col:first-child .col-content {
			padding-top: 0;
		}
	}
}

@media (max-height: 414px) {
	.port-intro .poster {
		height: 100%;

		&:after {
			bottom: -85%;
		}
	}
}

@media (max-width: 414px) {
	.port-intro .port-gallery {
		ul li {
			width: 100%;
			margin-bottom: 0;
			padding-bottom: 0;

			.gallery-link {
				border-bottom: 1px solid #EAEAEA;
				color: #222;
				margin-bottom: 0;
				margin-top: 0;
				box-shadow: none;

				-webkit-transition : background-color 500ms ease-out;
				-moz-transition : background-color 500ms ease-out;
				-o-transition : background-color 500ms ease-out;
				transition : background-color 500ms ease-out;

				&:after {
					content: '';
					clear: both;
					width: 100;
				}

				img, .description {
					float: left;
				}

				img {
					max-width: 25%;
					margin-right: 0.5em;
				}

				.description {
					background: transparent;
					position: relative;
					padding: 0;
					max-width: 70%;
				}

				&:hover, &:active {
					background: rgba(0, 0, 0, 0.8);
					color: #FFF;
					.description {
						background: transparent;
					}
				}
			}

			&:first-child {
				.gallery-link {
					border-radius: 8px 8px 0 0;
				}
			}

			+ li {
				.gallery-link {
					border-radius: 0;
				}
			}

			&:last-child {
				.gallery-link {
					border-radius: 0 0 8px 8px;
					border-bottom: 0;
				}
			}
		}
	}
}
