@import "normalize";
@import "fonts";
/*@import url('https://fonts.googleapis.com/css?family=Hind+Guntur');*/

body {
	background: #FFF;
	color: #333;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.75em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.text-center {
	text-align: center;
}

.row {
	display: table-row;

	.col {
		display: table-cell;
	}

	&.wid-33-33-33,
	&.wid-33-66,
	&.wid-66-33 {
		.col {
			width: 33.333%
		}
	}

	&.wid-33-66 {
		.col:last-child {
			width: 66.666%;
		}
	}

	&.wid-50-50 {
		.col {
			width: 50%;
		}
	}

	&.wid-66-33 {
		.col:first-child {
			width: 66.666%;
		}
	}
}

@media (max-width: 649px){
	.row {
		display: block;

		&,
		&.wid-33-33-33,
		&.wid-50-50,
		&.wid-33-66,
		&.wid-66-33 {
			.col {
				display: block;
				width: 100%;
			}
		}
	}
}
